<h2>Login</h2>

<p>{{ message }}</p>

<div *ngIf="!authService.isLoggedIn; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
  <div>
    <label>Login<input [(ngModel)]="userLogin" placeholder="admin" type="text"></label>
  </div>
  <div>
    <label>Password<input [(ngModel)]="userPassword" placeholder="123" type="password"></label>
  </div>
  <div class="btn__group">
    <button (click)="login()" type="button">Login</button>
  </div>
</ng-template>

<ng-template #elseBlock>
  <div class="btn__group">
    <button (click)="logout()" type="button">Logout</button>
  </div>
</ng-template>
