<div class="main__navbar">
  <nav class="navbar">
    <h2 class="navbar__title">App Menu</h2>
    <ul class="navbar__list">
      <li class="navbar__item">
        <a class="navbar__link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" routerLink="/phrases" routerLinkActive="active">Phrases</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" routerLink="/admin" routerLinkActive="active">Admin</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </nav>
</div>
